/* Element Selectors */
body{
    background-color: #F7ECDE;
    font-family: verdana;
    text-align: center;
    font-size: 1em;
}
h1{
    font-family: 'Sacramento';
    font-size: 5.5rem;
    color: #E9DAC1;
    margin: 0 auto 0 auto;
    line-height: 2;
}
h2 {
    font-family: 'Werriweather';
    font-size: 2rem;
    font-weight: normal;
    color: #11999E;
    padding: 10px;
}
h3 {
    font-family: 'Werriweather';
    color: #11999E
}
hr {
    display: inline-block;
    width: 25%;
    border: dotted grey 6px;
    border-bottom: none;
}
p {
    line-height: 2;
}

/* Class Selectors */
.top-container {
    background-color: #9ED2C6;
    text-align: center;
    position: relative;
    margin-top: 0;
}
.navbar{
    width: 70%;
    margin: 0 auto 0 auto;
}
.nav-item {
    padding: 0 18px;
}

.profile {
    width: 50%;
    margin: 20px auto 20px auto;
}
.image {
    float:left;
    margin-right: 20px;
    width: 80px;
}
.row {
    display:block;
    width: 50%;
    margin: 20px auto 20px auto;
    text-align: left;
}
.row a {
    color:#11999E
}
.row a:hover {
    color:#11999E
}
.job-title {
    display:flex;
    justify-content: space-between;
}
.experience-details, .achievement-details{
    line-height: 22px;
    text-align: left;
}
.experience-details li {
    margin-bottom: 10px;
}
.contact-me {
    width: 50%;
    margin: 80px auto 50px auto;
}
.btn {
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: verdana;
    color: #ffffff;
    font-size: 20px;
    background: #9ED2C6;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-bottom: 50px;
  }
  .btn:hover {
    background: #54BAB9;
    text-decoration: none;
  }

/* portfolio */
.project{
    width: 50%;
    margin: 50px auto 50px auto;
}
.project-img-1 {
    width: 30%;
}
.project-img-2 {
    width: 70%;
}



/* footer */
footer {
    background-color: #9ED2C6;
    padding: 40px 0 20px;
}
.footer-link {
    margin: auto 6px;
}
.copyright{
    color: white;
}


@media (max-width: 800px) {
    .profile, .row, .contact-me, .project {
        width: 80%;
    }
    .project-img-1  {
        width: 50%;
    }
}
